USE [master]
GO
/****** Object:  Database [Hospitaldb]    Script Date: 8/22/2021 9:08:11 PM ******/
CREATE DATABASE [Hospitaldb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hospitaldb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Hospitaldb.mdf' , SIZE = 102400KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hospitaldb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Hospitaldb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hospitaldb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hospitaldb]
GO
/****** Object:  Table [dbo].[EmployeeInfo]    Script Date: 8/22/2021 9:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeInfo](
	[EmpID] [varchar](10) NOT NULL,
	[EmpName] [varchar](100) NOT NULL,
	[Address] [varchar](40) NOT NULL,
	[Phone] [int] NOT NULL,
	[Role] [varchar](15) NOT NULL,
	[Username] [varchar](15) NOT NULL,
	[Password] [varchar](20) NOT NULL,
 CONSTRAINT [PK_EmployeeInfo] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExamInfo]    Script Date: 8/22/2021 9:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ExamInfo](
	[ItemID] [varchar](10) NOT NULL,
	[ItemName] [varchar](60) NOT NULL,
	[Rate] [float] NOT NULL,
 CONSTRAINT [PK_ExamInfo] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Material]    Script Date: 8/22/2021 9:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Material](
	[ItemID] [varchar](15) NOT NULL,
	[ItemName] [varchar](80) NOT NULL,
	[ItemDescription] [varchar](180) NULL,
	[QtyInStock] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MedicineInfo]    Script Date: 8/22/2021 9:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MedicineInfo](
	[MedicineID] [varchar](20) NOT NULL,
	[MedicineName] [varchar](90) NOT NULL,
	[MedicineDescription] [varchar](180) NULL,
	[QuantityInStock] [int] NOT NULL,
	[Price] [float] NOT NULL,
	[TotalPrice] [float] NOT NULL,
 CONSTRAINT [PK_MedicineInfo] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PatientAdmission]    Script Date: 8/22/2021 9:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientAdmission](
	[RegID] [varchar](20) NOT NULL,
	[RegName] [varchar](90) NOT NULL,
	[Age] [int] NOT NULL,
	[DOB] [date] NOT NULL,
	[BloodGroup] [varchar](10) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[MaritalStatus] [varchar](15) NOT NULL,
	[Occupation] [varchar](30) NOT NULL,
	[FatherName] [varchar](90) NOT NULL,
	[MotherName] [varchar](90) NOT NULL,
	[NID] [int] NOT NULL,
	[Phone] [int] NOT NULL,
	[Address] [varchar](40) NOT NULL,
	[RefdDoctor] [varchar](90) NOT NULL,
	[DutyDoctor] [varchar](90) NOT NULL,
	[BedName] [varchar](20) NOT NULL,
	[BedId] [varchar](10) NOT NULL,
	[TotalAmount] [float] NOT NULL,
	[PaidAmount] [float] NOT NULL,
 CONSTRAINT [PK_PatientAdmission] PRIMARY KEY CLUSTERED 
(
	[RegID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PatientInfo]    Script Date: 8/22/2021 9:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PatientInfo](
	[InvoiceID] [varchar](10) NOT NULL,
	[PatientName] [varchar](90) NOT NULL,
	[Address] [varchar](40) NOT NULL,
	[Age] [int] NOT NULL,
	[DOB] [date] NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[ContactNo] [int] NOT NULL,
	[RefdBy] [varchar](20) NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[ItemTotal] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[TotalBill] [float] NOT NULL,
	[PaidAmount] [float] NOT NULL,
	[DueAmount] [float] NOT NULL,
	[PaymentStatus] [varchar](10) NOT NULL,
 CONSTRAINT [PK_PatientInfo] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EmployeeInfo] ([EmpID], [EmpName], [Address], [Phone], [Role], [Username], [Password]) VALUES (N'E-001', N'Md. Aktarul Islam', N'Chapainawabganj', 1786193272, N'Admin', N'Sony123', N'sony00')
INSERT [dbo].[EmployeeInfo] ([EmpID], [EmpName], [Address], [Phone], [Role], [Username], [Password]) VALUES (N'E-002', N'Nion', N'Shibganj', 1791949535, N'Manager', N'Nion123', N'nion00')
INSERT [dbo].[EmployeeInfo] ([EmpID], [EmpName], [Address], [Phone], [Role], [Username], [Password]) VALUES (N'E-003', N'Noman', N'Barisal', 4576456, N'Receptionist', N'Noman123', N'noman00')
INSERT [dbo].[ExamInfo] ([ItemID], [ItemName], [Rate]) VALUES (N'B-0001', N'CBC', 450)
INSERT [dbo].[ExamInfo] ([ItemID], [ItemName], [Rate]) VALUES (N'B-0002', N'Blood Grouping', 100)
INSERT [dbo].[ExamInfo] ([ItemID], [ItemName], [Rate]) VALUES (N'B-0003', N'TC (Auto)', 150)
INSERT [dbo].[Material] ([ItemID], [ItemName], [ItemDescription], [QtyInStock], [Price], [TotalPrice]) VALUES (N'Item-0001', N'Fan', N'', 10, 2500, 25000)
INSERT [dbo].[Material] ([ItemID], [ItemName], [ItemDescription], [QtyInStock], [Price], [TotalPrice]) VALUES (N'Item-0002', N'Desk', N'', 4, 7500, 30000)
INSERT [dbo].[Material] ([ItemID], [ItemName], [ItemDescription], [QtyInStock], [Price], [TotalPrice]) VALUES (N'Item-0003', N'Chair', N'', 25, 450, 11250)
INSERT [dbo].[MedicineInfo] ([MedicineID], [MedicineName], [MedicineDescription], [QuantityInStock], [Price], [TotalPrice]) VALUES (N'MI-00001', N'Napa 500mg', N'', 100, 4, 400)
INSERT [dbo].[MedicineInfo] ([MedicineID], [MedicineName], [MedicineDescription], [QuantityInStock], [Price], [TotalPrice]) VALUES (N'MI-00002', N'Losectil', N'For Gastric', 50, 8, 400)
INSERT [dbo].[MedicineInfo] ([MedicineID], [MedicineName], [MedicineDescription], [QuantityInStock], [Price], [TotalPrice]) VALUES (N'MI-0003', N'Sergel (20mg)', N'', 100, 7, 700)
INSERT [dbo].[PatientAdmission] ([RegID], [RegName], [Age], [DOB], [BloodGroup], [Gender], [MaritalStatus], [Occupation], [FatherName], [MotherName], [NID], [Phone], [Address], [RefdDoctor], [DutyDoctor], [BedName], [BedId], [TotalAmount], [PaidAmount]) VALUES (N'P-001', N'Noman', 20, CAST(N'1999-08-20' AS Date), N'A+', N'Male', N'Single', N'Student', N'Ansar Ali', N'Shamsunnahar', 54548444, 17846566, N'Sirajganj', N'Dr. Nurul', N'Dr. Shuvo', N'Cabin', N'403', 200, 200)
INSERT [dbo].[PatientAdmission] ([RegID], [RegName], [Age], [DOB], [BloodGroup], [Gender], [MaritalStatus], [Occupation], [FatherName], [MotherName], [NID], [Phone], [Address], [RefdDoctor], [DutyDoctor], [BedName], [BedId], [TotalAmount], [PaidAmount]) VALUES (N'R-002', N'Nion', 21, CAST(N'2000-07-20' AS Date), N'A+', N'Male', N'Single', N'Student', N'Motiur Rahman', N'Bilkis Banu', 155448764, 1791949535, N'Shibgnaj', N'Dr. Masum', N'Dr. Sharmin', N'Cabin', N'405', 200, 200)
INSERT [dbo].[PatientAdmission] ([RegID], [RegName], [Age], [DOB], [BloodGroup], [Gender], [MaritalStatus], [Occupation], [FatherName], [MotherName], [NID], [Phone], [Address], [RefdDoctor], [DutyDoctor], [BedName], [BedId], [TotalAmount], [PaidAmount]) VALUES (N'R-003', N'gfgfgh', 54, CAST(N'2021-08-12' AS Date), N'A+', N'Male', N'Single', N'ftyhftdyh', N'fghutyhr', N'tyityu', 32154, 5675, N'bnmvbhj', N'hjgyj', N'ghjs', N'Ward (Female)', N'56', 90, 90)
INSERT [dbo].[PatientInfo] ([InvoiceID], [PatientName], [Address], [Age], [DOB], [Gender], [ContactNo], [RefdBy], [DeliveryDate], [ItemTotal], [Discount], [TotalBill], [PaidAmount], [DueAmount], [PaymentStatus]) VALUES (N'V-0001', N'Noman', N'Sirajganj', 21, CAST(N'1998-04-21' AS Date), N'Male', 1745896742, N'Self', CAST(N'2021-08-21' AS Date), 500, 100, 400, 400, 0, N'PAID')
INSERT [dbo].[PatientInfo] ([InvoiceID], [PatientName], [Address], [Age], [DOB], [Gender], [ContactNo], [RefdBy], [DeliveryDate], [ItemTotal], [Discount], [TotalBill], [PaidAmount], [DueAmount], [PaymentStatus]) VALUES (N'V-0002', N'Nion', N'Shibganj', 20, CAST(N'1999-07-15' AS Date), N'Male', 1745548774, N'Self', CAST(N'2021-08-21' AS Date), 400, 100, 300, 300, 0, N'PAID')
INSERT [dbo].[PatientInfo] ([InvoiceID], [PatientName], [Address], [Age], [DOB], [Gender], [ContactNo], [RefdBy], [DeliveryDate], [ItemTotal], [Discount], [TotalBill], [PaidAmount], [DueAmount], [PaymentStatus]) VALUES (N'V-0003', N'Tehan', N'Sylhet', 22, CAST(N'1999-08-13' AS Date), N'Male', 1745877785, N'Self', CAST(N'2021-08-21' AS Date), 600, 100, 550, 400, 150, N'DUE')
USE [master]
GO
